html {
    height: 100%;
}

body {
    min-height: 100%;
}

.content.container {
    padding: 70px 15px 20px;
}

.navbar.navbar-default {
    padding: 0 20px;
}

.navbar-brand {
    padding: 10px 15px;
}

label {
    padding: 10px 0;
}

/** wrapping for bootstrapped select */
.select {
    padding: 10px 1.5rem;
}

.form-inline label {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    padding: 0;
}

.input-group {
    padding-bottom: 2.5rem;
}

form {
    padding-bottom: 50px;
}

/** Recoloring of navbar */
.navbar-default {
    background-color: #4285f4;
    border-color: #6eb4ff;
}
.navbar-default .navbar-brand {
    color: #f2f2f2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a {
    color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #4285f4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #f2f2f2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #6eb4ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #6eb4ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #6eb4ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #6eb4ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #6eb4ff;
}
.navbar-default .navbar-toggle {
    border-color: #6eb4ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #6eb4ff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f2f2f2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #f2f2f2;
}
.navbar-default .navbar-link {
    color: #f2f2f2;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f2f2f2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #6eb4ff;
    }
}
/** End of recoloring of navbar */